body{
	font-family: “Trebuchet MS”, Trebuchet, Arial, sans-serif;
	background: #3B3F45;
	border: 10px;
	border-style: solid;
	border-color: white;
	min-height: 100vh;
	min-width: 100vw;
}
h1{
	font-size: 25px;
	font-weight: bold;
	padding-top: 15px;
}

section{
	width: 500px;
	margin: 0 auto;

}
ul{
	text-align: left;
	margin-bottom: 25px;
}
li{
	border-top: 5px transparent;
	border-bottom: 5px transparent;
	display: block;
	padding: 10px;
	transition: color .3s,  background .3s;
	color: #F9F9F9;
}

li:hover{
	background-color: #625E77;
	border-bottom: 3px solid;
	border-top: 3px solid;
	border-color: white;
}
li:nth-child(even){
	background-color: #88839E;
}
li:nth-child(odd){
	background-color: #7A7593;
}
footer{
	width: 500px;
	padding: 10px 0 10px 0;
	margin: 0 auto;
	background: #4A4F56;
	color: #EB7E7F;
	text-align: center;
	margin-bottom: 40px;
}

.header_main{
	height: 75px;
	text-align: center;
	background: #4A4F56;
	color: #EB7E7F;
	margin-bottom: 25px;
}
.subtitle{
	margin-top: 5px;
	font-size: 18px;
}
.clearfix:after {
	content: '';
	display: table;
	clear: both;
}
tyle-1{
	background-color: #88839E;
}
tyle-2{
	background-color: #7A7593;
}
small{
	font-size: 11px;
	color: #CDCBCB;
}

#done:checked ~ label{
	text-decoration: line-through;
	color: #A3A0B0;
}

.second:before {
	content: '(';
}
.second:after {
	content: ')';
}

